@import url('https://fonts.googleapis.com/css2? familia= Roboto+Condensado:wght@100;400;600 &family= Roboto:ital,wght@0,100;0,300;0,700;0,900;1,500 & display=swap');




body {background-color: #6dca37c5;
color: rgb(1, 1, 24);
font-family: 'Roboto Condensed', sans-serif;
font-weight: 500;}

h1{font-weight: 600;}
